@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Manrope:wght@300;500&family=Urbanist:wght@200;400;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  background-image: url(https://i.pinimg.com/736x/71/69/b1/7169b1f67e6ea94007a50de5736722af.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

h1 {
  font-weight: 500;
}

.date {
  border: 0.5px;
  border-style: solid;
  border-color: gray;
  background-color:white;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 40%;
  margin-left: 40%;
  border-radius: 10px;
  padding: 5px;
}

.description {
  background-color: rgba(196, 193, 193, 0.268);
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10px;
  padding: 40px;
}

.form {
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.answer-container {
  text-align: center;
  padding: 10%;
}

.again {
  border: 0.5px;
  border-style: solid;
  border-color: gray;
  background-color:white;
  margin-top: 5%;
  margin-right: 35%;
  margin-left: 35%;
  border-radius: 10px;
  padding: 8px;
  background-color: rgba(196, 193, 193, 0.268);

}
